* {
  margin: 0;
}
.App {
  background-color: #fafafa;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app__right {
  margin-left: 20px;
}
.app__headerImage {
  width: 170px;
  object-fit: contain;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__signup {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
